
section
{
    height: 100vh;
    background: url(../img/home.png);
    background-size: 100% 100%;
}
#aktitle
{
    position: absolute;
    color: white;
}
#title
{
    position: absolute;
    color: white;
    margin-top:10%;
    margin-left: 30%;

}
.beg
{
    margin-top:30vh;
    margin-left: 40%;
    cursor: pointer;
    border-radius: 25px;
    color: white;
    padding-bottom: 3%;
    padding-top: 1%;
    background-color: #BD0A0E;
    position: absolute;
    font-size: 3em;
    font-family: 'Boogaloo', cursive;
}
.qtxt
{
    text-align: center;
    font-size: 5vh;
    color: white;
}
#qans1
{
    margin-top: 10%;
    color: white !important;
}
#qans3
{
    color: white !important;
}
.q1
{
    height: 100vh;
}
.q2,.q3,.q1
{
    background: url(../img/background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
img:hover
{
    cursor: pointer !important;
}
.title
{
    color: white !important;
}
.logo_img
{
    height: 20vh;
    width: auto;
}